In [1]:
#meta 1/3/2018

### Count distinct words from a Pandas Data Frame
src https://stackoverflow.com/questions/18936957/count-distinct-words-from-a-pandas-data-frame

In [4]:
import pandas as pd

data=['My nickname is ft.jgt','Someone is going to my place']

df=pd.DataFrame(data,columns=['text'])
df.head()

                           text
0         My nickname is ft.jgt
1  Someone is going to my place

In [6]:
#Do some clean-up on df to get the strings in lower case and split:
print ('--Clean up')
print (df['text'].str.lower().str.split())

#Use a set to create the sequence of unique elements
#Each list in this column can be passed to set.update function to get unique values. Use apply to do so:
results = set()
df['text'].str.lower().str.split().apply(results.update)
print (results)

--Clean up
0             [my, nickname, is, ft.jgt]
1    [someone, is, going, to, my, place]
Name: text, dtype: object
{'my', 'is', 'someone', 'nickname', 'going', 'place', 'ft.jgt', 'to'}

In [8]:
from collections import Counter 
#if you want to keep count, you could use Counter()
results = Counter()
df['text'].str.lower().str.split().apply(results.update)
print (results)

Counter({'my': 2, 'is': 2, 'nickname': 1, 'ft.jgt': 1, 'someone': 1, 'going': 1, 'to': 1, 'place': 1})